<fieldset>

  <legend>Edit Service</legend>

  <!-- MAKE -->
  <div class='form-group'>
      <label for='description'>name</label><br>
      <input class='form-control' id='name' type='text' name='name' value='{{ streetPals.name }}' />
  </div>

  <!-- Model -->
  <div class='form-group'>
      <label for='description'>descriptions</label><br>
      <input class='form-control' id='descriptions' type='text' name='descriptions' value='{{ streetPals.descriptions }}' />
  </div>

  <!-- DESCRIPTION -->
  <div class='form-group'>
      <label for='description'>number</label><br>
      <input class='form-control' id='number' type='text' name='number' value='{{ streetPals.number }}' />
  </div>

  <!-- Color -->
  <div class='form-group'>
      <label for='description'>hours</label><br>
      <input class='form-control' id='hours' type='text' name='hours' value='{{ streetPals.hours }}' />
  </div>

  <!-- Price -->
  <div class='form-group'>
      <label for='description'>url</label><br>
      <input class='form-control' id='url' type='text' name='url' value='{{ streetPals.url }}' />
  </div>

</fieldset>